@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* this will make the scroll smooth */
  scroll-behavior:smooth;
}

body{
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  /* this z-index here will alow us to hover over the ul section; */
  z-index: 10000;
}

header .logo{
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}


header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  cursor: pointer;
}


header ul li a:hover, header ul li a.active{
  background-color: white;
  color: rgb(34, 32, 32);
}


section{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* this will hide anything that displays outside of its zone ; */
  overflow: hidden;
}

section::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #4e145d, transparent);
  z-index: 1000;
}


section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* this will make change the mose hover event */
  pointer-events: none;
}


section img#moon{
  /* this will hide the darkness of the moon */
  mix-blend-mode: screen;
}

section img#mountains_behind{
  mix-blend-mode:color-burn;
}

section img#mountains_front{
  z-index: 10;
}

#text{
  position: absolute;
  color: white;
  white-space: nowrap;
  font-size: 3.5vw;
  z-index: 9;
}


.btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: white;
  color: rgb(46, 45, 45);
  font-size: 1.5rem;
  z-index: 9;
  transform: translateY(100px);
}


.sec{
  position: relative;
  padding: 100px;
  background: rgb(36, 36, 36);
}

.sec h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
}

.sec p{
  font-size: 1.2em;
  color: white;
}